@import "variables";
@import "donate";
@import "header";
@import "footer";
@import "slider";

body {
  line-height: 1.6;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;

}

header {
  margin: 0;
  padding: 0;
  height: 70vh;
  background: url('../img/sand-9.jpg');
  background-size: cover;
  display: flex;

  div {
    width: 50%;
    margin: auto auto 0 27%;
    @media(max-width: 800px) {
      width: 80%;
      margin: auto;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}


article {
  display: grid;
  grid-template-columns: 1fr 3.2fr 0.8fr;
  margin: auto auto 300px auto;
  grid-template-rows: max-content;
  @media(max-width: 800px){
    display: block;
    margin: 1em;
  }

  h2, h3, h5, p, .text, .ba-slider, .content {
    grid-column: 2/3;
  }

  p {
    margin: 10px 0;
  }

  h3, h2, h5 {
    font-weight: 400;
  }

  h3 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
    font-weight: 500;
  }

  a {
    color: #FE7200;
  }

  p.note {
    font-size: 15px;
    font-weight: 300;
    margin: 50px 0 50px 50px;
  }

  .orange {
    &::before {
      display: block;
      content: "";
      border-top: .3rem solid #FE7200;
      width: 20%;
      margin: 10px 0;
    }
  }

  .content {
    margin: 0;
  }

  .text {
    font-size: 15px;
    margin-top: 50px;
    font-weight: 100;
  }

  .full-screen-content {
    grid-column: 1/-1;
    display: block;
  }

  aside {
    margin: 10px 0;
    grid-column: 1/2;
    display: flex;
    @media(max-width: 800px) {
      display: none;
    }

    img {
      width:100%;
      margin: auto;
    }
  }

  .wide {
    grid-column: 1/-1;
    //max-height: 100vh;
    //max-width: 100%;
    width: 100%;
    margin: 0 auto;
    @media(max-width: 800px){
      width: 100%;
    }
  }
}


.mobily-only {
  display: none;
  @media(max-width: 800px) {
    display: block;
  }
}

.desktop-only {
  display: block;
  @media(max-width: 800px) {
    display: none !important;
  }
}

